/* 기본설정 */

:root {
  --logo-red: #dc0611;
  --text-white: #ffffff;
  --border-gray: #222222;
  --background-black: #000000;
  --padding: 8px;
  --margin-side: 75px;
  --margin-up: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  background-color: var(--background-black);
  color: var(--text-white);
}

img {
  max-width: 100%;
}

/* 전광판 꾸미기 */

.jumbotron {
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
}

/* 멀티 백그라운드 */
.jumbotron::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.8) 100%
      )
      no-repeat center center/cover,
    url(./image/banner.jpg) no-repeat center center/cover;
  opacity: 0.7;
  z-index: -1;
}

/* 전광판 상단 메뉴 */

div.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 2em 5em 0;
}

div.nav img.logo {
  width: 15em;
}

div.language-login {
  display: flex;
}

div.language-login button {
  padding: var(--padding) calc(var(--padding) * 2);
  margin: var(--padding);
  color: var(--text-white);
}

button.language {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--text-white);
}

button.login {
  border: 0;
  background-color: var(--logo-red);
  border-radius: 5%;
}

/* 전광판 메인 컨텐츠 */

div.jumbotron div.content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

div.jumbotron div.content h1 {
  font-size: 6rem;
}

div.jumbotron div.content h2 {
  font-size: 3rem;
  margin: var(--margin-up) 0;
}

div.jumbotron div.content p {
  font-size: 2rem;
  margin: calc(var(--margin-up) * 2) 0 var(--margin-up) 0;
}

div.input-start {
  display: flex;
  justify-content: center;
  height: 6rem;
}

div.input-start input {
  width: 45rem;
  padding: var(--padding);
  line-height: 1.1;
  border: none;
}
div.input-start button {
  width: 14rem;
  line-height: 1.1;
  background-color: var(--logo-red);
  border: none;
  font-size: 2rem;
  color: var(--text-white);
}

/* 회색 언더바 */
.under-bar {
  width: 100%;
  height: 0.8rem;
  background-color: var(--border-gray);
}

/* 하단 아티클  */

section article {
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  padding: calc(var(--margin-up) * 3) calc(var(--margin-side) * 2);
}

/* 아티클 텍스트 영역 */
section article div.text {
  flex: 1;
  padding: 4rem 0;
}

section article div.text h1 {
  font-size: 3.5rem;
}

section article div.text p {
  font-size: 2rem;
  font-weight: 500;
  margin-top: var(--margin-up);
}

/* 아티클 비디오-이미지 영역 */
section article div.container {
  flex: 1;
  position: relative;
}

section article div.container img {
  max-width: 100%;
  max-height: 100%;
}

.video-container.tv {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 21%;
  left: 12%;
  z-index: -1;
}

section article div.container video.tv {
  max-width: 100%;
}

.video-container.device {
  max-width: 70%;
  max-height: 100%;
  position: absolute;
  top: 14%;
  left: 17%;
  z-index: -1;
}

section article div.container video.device {
  width: 90%;
}

/* 반응형 조절 */
/* 
모바일 폰 (576px),
태블릿 (768px),
노트북 (992px)
초대형 데스크톱 화면 (1200px).
*/
@media screen and (max-width: 1200px) {
  div.jumbotron div.content h1 {
    font-size: 5rem;
  }

  div.jumbotron div.content h2 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 992px) {
  div.input-start {
    display: block;
  }

  div.input-start input {
    width: 45rem;
    height: 5rem;
    padding: var(--padding);
    line-height: 1.1;
    border: none;
  }
  div.input-start button {
    width: 14rem;
    height: 4rem;
    line-height: 1.1;
    margin: var(--margin-up) 0 0 0;
    background-color: var(--logo-red);
    border: none;
    font-size: 2rem;
    color: var(--text-white);
  }

  /* 하단 아티클  */

  section article {
    width: 100%;
    height: 30rem;
    display: flex;
    align-items: center;
    padding: var(--margin-up) var(--margin-side);
  }

  /* 아티클 텍스트 영역 */

  section article div.text h1 {
    font-size: 2.4rem;
  }

  section article div.text p {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: var(--margin-up);
  }
}
